@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*resetando css*/
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #B52931;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
/*CONFIGURNDO O TOPO*/
#logo{
    text-align: center;
    flex: 1;
}
#topo{
    background: #F6F6F6;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#menuTopo{
    flex: 1;
}
#menuTopo a{
    font-family: 'Roboto', sans-serif;
    color: #B52931;
    font-size: 1.5em;
    padding: 0em 1em;
}


/*CONFIGURANDO BANNER*/
#banner{
    background-color: #B52931;
    display: flex;
    margin: 1.5em auto;
    background-repeat: no-repeat;
}







/*CONFIGURANDO CONTATO*/
.fa-whatsapp{
    color: white;
    margin-left: 0em;
}
i{
    font-size: 1.5em;
    color: #B52931;
    margin: auto 1em;
}
.contato{
    padding: 1em;
    margin-top: 1.5em;
    padding-bottom: 2em;
    background-color: #F5F5F5;
}
.container-contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
}
.container-contato i{
    margin-left: 7em;
}
.titulo-contato{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #B52931;
}
.bloco-dados-contato{
    margin: 2em 0em;
    display: flex;
    flex-direction: column;
}
.dados-contato{
    margin: 1.25em 0em;
    display: flex;
    align-items: center;
}
.bloco-contato{
    text-align: center;
}
.titulo-social{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #B52931;
}
.bloco-social{
    display: flex;
    flex-direction: column;
}
.botao-contato{
    background: #E72025;
    border-radius: 15px;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 0.5em;
    max-width: 40%;
    margin-left: 15em;
}
.botao-contato:hover{
    background: white;
    text-decoration: none;
    color: #B52931;
    transition: 0.5s;
}
section .titulo, .subtitulo{
    color: #B52931;
    display: flex;
    justify-content: center;
}
.contato .titulo{
    font-size: 2em;
    border-bottom: 3px #B52931 solid;
    max-width: 12%;
    margin: 0.5em auto;
}
.subtitulo{
    font-family: 'Roboto', sans-serif;
    color: #000000;
}
.container-titulos, .bloco-dados-contato, .bloco-social{
    font-family: 'Roboto', sans-serif;
}
.material-symbols-outlined{
    color: #B52931;
}






/*CONFIGURANDO SLIDER*/
.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.slides input {
    display: none;
}
.slide-container {
    display: block;
}
.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}
.slide img {
    width: 100%;
    height: 100%;
}
.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
.slide:hover + .nav label {
    opacity: 0.5;
}
.nav label:hover {
    opacity: 1;
}
.nav .next {
    right: 0;
}
input:checked + .slide-container  .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}
input:checked + .slide-container .nav label {
    display: block;
}
.nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}
.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}
.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}
input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6,
input#img-7:checked ~ .nav-dots label#img-dot-7 {
    background: rgba(0, 0, 0, 0.8);
}
@media (max-width:500px){
    .slides {
        width: 400px;
        height: 276px;
    }
    .slide {
        width: 400px;
        height: 276px;
    }
}